body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } 
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgb(60, 160, 56);
     color: white;
     text-align: center;
   }

/* Responsive styling */
@media (max-width: 600px) {
    form {
        max-width: 100%;
    }
}
